<h1><font color="#0097A7">編集する</font></h1>
 <%= form_for @task do |f| %>
  <p>
    やること:
    <%= f.text_field :name %>
    内容:
    <%= f.text_field :description %>
    期日
    <%= f.datetime_select :date %>
    <%= f.check_box :comprited %>
    <%= label_tag :comprited, "クリア" %>
    <%= f.submit"作成" %>
  </p>
  <% end %>
