<div class="row">
<div class="col-lg-12">
<div class="page-header">
<h1><font color="#0097A7">編集する</font></h1>
</div>
</div>
 <%= form_for @task do |f| %>
  <div class="input-group">
  <div class="col-lg-12">
  <div class="form-inline form-group">
  <div class="form-group">
    <%= f.text_field :name, class: "form-control",placeholder:"やること" %>
    </div>
    <div class="form-group">
    <%= f.text_field :description, class: "form-control",placeholder:"内容" %>
    </div>
    <div class='input-group date datetimepicker'>
    <%= f.text_field :date, class: 'form-control',placeholder:"期日" %>
    <span class="input-group-addon">
    <span class="fa fa-calendar"></span>
 </span>
</div>
    <%= f.check_box :comprited %>
    <%= label_tag :comprited, "クリア" %>
    <%= f.submit"作成" %>
  </div>

  <% end %>
   </div>
</div>
