<h1>ToDo管理</h1>
<% @tasks.each do |task| %>
  <li><%= task.name %> | <%= task.description %>
  <%= link_to "編集する", edit_task_path(task) %>
  <%= link_to "削除する", task_path(task), method: :delete , data: {confirm: "本当に削除しますか？"}%>
  </li>
  <% end %>
  <%= form_for @task do |f| %>
  <p>
    やること:
    <%= f.text_field :name %>
    内容:
    <%= f.text_field :description %>
    <%= f.submit"作成" %>
  </p>
  <% end %>
